<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/static/icofont/icofont.min.css" rel="stylesheet">

    <link href="/static/economy.ico" rel="icon">

    <link href="/static/aboutstyle.css" rel="stylesheet">

    <title>
        C$50 Finance: About
    </title>
</head>
<body>
    <div class="head">
        <div class="about">
            About
        </div>
    </div>
    <div class="main">
        <div class="info">
            <h2>Hello,</h2>
            <p>I am <strong>Deepanshu Prasad</strong>, first year student of B.Tech degree in Electrical Engineering at <strong>S V National Institute of Technology, Surat</strong>. This is my project <strong>"C$50 Finance"</strong>.<br/><br/>
                This project is part of the Web Track under the course CS50.
                This is actually a website which is similar to any other <strong>Online Stock Trading</strong> site, with difference here being that the money you invest is not real.
                Building this website helped in improving my knowledge of several programming languages, like:</p><br/>
            <span class="html"><i class="icofont-file-html5"></i> HTML</span><br/><br/>
            <span class="css"><i class="icofont-file-css"></i> Cascading Style Sheet (CSS)</span><br/><br/>
            <span class="js"><i class="icofont-file-javascript"></i> JavaScript</span><br/><br/>
            <span class="sql"><i class="icofont-file-sql"></i> SQL</span><br/><br/>
            <span class="python"><i class="icofont-file-python"></i> Python</span><br/><br/>
            <p>There are so many extra features (personal touches) included in this website other than the original features, that were required. We will look at both of them :</p>
        </div>
        <div class="original">
            <span>Original Features</span>
        </div>
        <div class="originalleft">
            <div class="buy">
                You can <strong>buy</strong> shares of stocks with the cash you have in your wallet, in real time.
            </div>
            <div class="log">
                You will have your own account form which you can <strong>login</strong> and <strong>logout</strong> into the web app. All of the data will be saved in database and will be unique to you.
            </div>
        </div>
        <div class="originalcenter">
            <div class="sell">
                Shares bought can be <strong>sold</strong> anytime you would like to, as per the trend at that time.
            </div>
            <div class="register">
                <strong>Registaration</strong> will be done and all your data will be saved securely on our database with your unique account.
            </div>
        </div>
        <div class="originalright">
            <div class="quote">
                You can <strong>search</strong> for the current price and trend of the desired stock. Some reference websites are also provided to check for the symbol of the company you want to get.
            </div>
            <div class="history">
                All of your bought and sold <strong>history</strong> will be stored and can be viewed at a single place.
            </div>
        </div>
        <div class="personal">
            <span>Personal Touch</span>
        </div>
        <div class="personalleft">
            <div class="wallet">
                See the amount of cash you are left with and money you can get by selling all the shares you own. Also add money to the <strong>wallet</strong> if you need.
            </div>
            <div class="profile">
                User can change their username and password from the <strong>Profile</strong> section and can delete their account permanently.
            </div>
            <div class="loan">
                Go to the wallet section and there you can take <strong>loan</strong> of max. <strong>$1,500</strong> at a time. All your loan history will be saved.
            </div>
            <div class="bsindex">
                You can buy more or sell some of the shares of any stock you own, <strong>directly from the owned page</strong>, without entering the symbol as text value.
            </div>
        </div>
        <div class="personalcenter">
            <div class="password">
                Constraints have been added to <strong>password</strong>. It should be of more than 8 characters and must contain a number, and not anything else than alphabet and number.
            </div>
            <div class="ui">
                There is a significant change in the <strong>User Interface</strong>. Instead of using Bootstrap, I have written all the CSS code myself.
            </div>
            <div class="apology">
                <strong>Apology</strong> page has been changed as previous one operated on different layout. You can view the page by switching off the internet and re-loading.
            </div>
        </div>
        <div class="personalright">
            <div class="username">
                Length of <strong>username</strong> should maximum be 10 and minimum 4 charcters . Username should not contain anything else than alphabets and numbers. Also it should be unique. Two users cannot have same username.
            </div>
            <div class="home">
                All new <strong>Home Page</strong> is introduced where you will get to see a welcome message and any three of your owned stocks.
            </div>
            <div class="change">
                With price and name you will also be able to see the <strong>change in price</strong> of your stocks.
            </div>
        </div>
    </div>
</body>
</html>
