<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/static/icofont/icofont.min.css" rel="stylesheet">

    <link href="/static/economy.ico" rel="icon">

    <link href="/static/styles.css" rel="stylesheet">

    <script type="text/javascript">
        var colors = ['#4894df','#2844af','#488de4'];

        function changeColor(obj) {
        var rand = colors[Math.floor(Math.random() * colors.length)];
        obj.style.color = rand;
        }

        function removeColor(obj) {
        obj.style.color = 'white';
        }
    </script>

    <title>
        C$50 Finance: Apology
    </title>
</head>
<body>
    <div class="errormessage">

        {% if top == 404 %}
        <h2>
            <span onmouseover="changeColor(this)" onmouseout="removeColor(this)">4</span><span onmouseover="changeColor(this)" onmouseout="removeColor(this)">0</span><span onmouseover="changeColor(this)" onmouseout="removeColor(this)">4</span>
        </h2>
        <h4>Are you Lost?</h4>
        <p>The page you were looking for <strong>doesn't exist</strong>.<br/>
            The address might be wrong or the page may have moved.</p>
        {% elif top == 500 %}
        <h2>
            <span onmouseover="changeColor(this)" onmouseout="removeColor(this)">5</span><span onmouseover="changeColor(this)" onmouseout="removeColor(this)">0</span><span onmouseover="changeColor(this)" onmouseout="removeColor(this)">0</span>
        </h2>
        <h4>Internal Server Error!!</h4>
        <p>There might be some <strong>unknown error in the server</strong> or your internet connection.<br/>
            <strong>Check the connection,</strong> Try reloading, deleting cookies, clearing cache, else contact the website.</p>
        {% else %}
        <h2>{{ top }}</h2>
        <h4>{{ bottom }}</h4>
        <p>Try <strong>reloading</strong> Or go back to the homepage.</p>
        {% endif %}
        <div class="homebutton">
            <a href="/">GO HOME</a>
        </div>
    </div>
</body>
</html>
